/* Michael Roppo */

body {
    background-color: red;
}

img {
    height: 300px;
    width: 400px;
    margin-left: 16em;
    margin-right: auto;
    border: 2pt solid #00ff00;
}

p {
    text-align: center;
}
